<% if(res.flash != null && res.statusCode == 200) { %>

    <% if(res.flash.erros){ %>
    <% res.flash.erros.forEach(function(erro) { %>

    <div class="alert alert-<%- res.flash.tipo%>">
        <%-erro%>
        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
        <br>
    </div>
    <% }); %>
    <% } else { %>

    <div class="alert alert-<%- res.flash.tipo%>">
        <%- res.flash.mensagem%>
        <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
        <br>
    </div>
    <% } %>
<% } %>